.panel-sign-up {
  display: flex;
  width: calc(92% - 1em);
  border-radius: 4px;
  padding: 1em 0.5em;
  margin: 1em;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
}

.panel-sign-up {
  overflow: auto; /* Allows scrolling if content overflows */
  scrollbar-width: none; /* For Firefox */
}

/* WebKit-based browsers (Chrome, Safari) */
.panel-sign-up::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

#button-sign-up {
  margin-top: 1em;
}

h2 {
  font-weight: 200;
}
