.panel-sign-up {
  display: flex;
  width: calc(92% - 1em);
  border-radius: 4px;
  padding: 1em 0.5em;
  margin: 1em;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
}

.panel-sign-up {
  overflow: auto;
  scrollbar-width: none;
}

.panel-sign-up::-webkit-scrollbar {
  display: none;
}

#button-sign-up {
  margin-top: 1em;
}

h2 {
  font-weight: 200;
}
