button {
  padding: 10px 20px;
  border: none;
  border-radius: 2em;
  background-color: var(--light-green);
  color: var(--dark-green);
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
}
