.app-header {
    background-color: var(--light-green);
    padding-top: 18px;
    padding-bottom: 14px;
}

.app-header h1 {
    font-family: "DM Serif Display";
    text-align: center;
    color: var(--white);
}