#root {
    width: 100%;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info {
    display: flex;
    flex-direction: column;
}